.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    background-color: var(--fill-light-blue);
}



.form {
    width: 550px;
    margin: auto;
    border: 2px solid var(--fill-primary-blue);
    border-radius: 10px;
    background-color: var(--fill-sky-blue);
    padding: 10px 20px;

}

.formHeader {
    display: flex;
    justify-content: center;
}

.formHeader h3 {

    font-size: 20px;
    padding: 10px 0px;
}

.formBoday {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formFooter {
    display: flex;
    justify-content: end;
    margin-top: 20px;

}
.login {
    
}