.formWrapper {
    width: 550px;
    margin: auto;
    border: 2px solid var(--fill-primary-blue);
    border-radius: 10px;
    background-color: var(--fill-sky-blue);
    padding: 10px 20px;
}
.formBody {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formHeader {
    display: flex;
    justify-content: center;
}

.formHeader h2 {

    font-size: 20px;
    padding: 10px 0px;
}
.fieldWrapper {
    position: relative;
}
.formFooter {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
    margin-top: 20px;

}
.createAccount {
    text-decoration: underline;
    color: var(--fill-base-blue);
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
}
.message {
    padding-top: 5px;
    display: inline-block;
    color: var(--fill-base-red);
    position: absolute;
    left: 0;
    top: 56px;
}