* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
    color: #023d5d;
}

:root {
    --fill-sky-blue: #afcfea9c;
    --fill-primary-blue: #5ba4e09c;
    --fill-light-blue: #adcad79c;
    --fill-base-white:#fff;
}
.default-btn {
    background-color: var(--fill-primary-blue);
    padding: 10px 20px;
    color: var(--fill-base-white);
    border: 0;
    font-size: 16px;
    cursor: pointer;
}