* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
    color: #023d5d;
}
:root {
    --fill-sky-blue : #afcfea9c;
    --fill-primary-blue :#5ba4e09c;
}